
<style type="text/css">
  @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
    
  .sidenav {
    background-color:#E5474B;
    height: 100%;
    width:47px;
    position: fixed;
    top: 0; 
    left: 0;
  }
  
  .sidenav a {
    
    margin:60% 12%;
    padding: 20px 0px;
    opacity:1;
    text-decoration: none;
    color:white;
    display: block;
  }
  
  .sidenav a:hover {
    color:grey ;
  }
  
  .flex-container1 {
    display: flex;
    justify-content: center;
    background-color:#E5474B;
    margin:0% 7% 1% 7%;
    font-family:  "Lato", sans-serif;
    font-weight: bold;
    color:white;
    padding:18px;
    border-radius:5px;
     box-shadow: 5px 10px 18px #888888;	
  }
  
  ul li{
    display:inline-block;
    background-color:;
    margin:2% 7% 0% 7%;
    padding: 0px;
    font-family:  "Lato", sans-serif;
    font-weight: bold;
    
  }
  
  
  .flex-container2 {
    display: flex;
    justify-content:space-around;
    margin:3% 10%;
    font-family:  "Lato", sans-serif;
    color:white;
    
  }
  
  .flex-item2 {
  
    background-color:#06A77D;
     box-shadow: 5px 10px 18px #888888;
     padding:8px 15px 0px 15px;
     border-radius: 5px;
  }
  
  .flex-container4 {
    display: flex;
    justify-content: center;
    font-family: "Lato", sans-serif;
    color:white;
    font-weight: bold;
  }
  
  .flex-item4{
    display: inline-block;
  }
  
  a{
    text-decoration: none !important;
      color:white;
  }
  
   @media only screen and (max-width: 500px) {
  
        .flex-container2{
          margin:5%;
          -webkit-justify-content: center;      
          justify-content: center;
          display: flex;
          flex-wrap: wrap;
        }
        .flex-item2{
          margin: 5% 0%;
        }
    }
  
  
  .flex-item4 img{
    padding-top:2px;
  }
  
  
  </style>
  


<div class="sidenav">
	
	<a href="#about"><img src="images/admin.png"></a>	
  <a href="#about"><img src="images/home-sign.png"></a>
  <a href="#services"><img src="images/forms.png"></a>
   <a href="#about"><img src="images/flyer.png"></a>
   <a href="/" style="text-decoration: none; color: #fff; font-weight: bold;">log Out</a>
   
  
</div>


<div style="margin-left:47px;">


<ul style="padding: 0px;margin: 0px;">
	<li style="padding: 0px">
		<p style="">DASHBOARD</p>
	</li>
	<li style="float:right;padding:0px">
		<p>
			<script> document.write(new Date().toLocaleDateString()); </script>
		</p>
	</li>
</ul>



<div class="flex-container1">
	<center>PHOTOGRAPHY AND FINE ARTS CLUB</center>
</div>


<div class="flex-container2">

	<!-- <div class="flex-item2">
		<div class="flex-container4">	
		<div class="flex-item4"><img src="images/image.png"></div>
		<div class="flex-item4">	<a href=addimage.html target="Framename"><p style="margin-bottom: 0%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IMAGE UPLOAD</p></div>
		</a>
		</div>
	</div>

	<div class="flex-item2">			
		<div class="flex-container4">	
		<div class="flex-item4"><img src="images/list.png"></div>
		<div class="flex-item4">	<a href=generate.html target="Framename"><p style="margin-bottom: 0%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;EVENT ORGANISER</p></div>
		</a>
		</div>
	</div> -->

	<div class="flex-item2">	
		<div class="flex-container4">	
		<div class="flex-item4"><img src="images/gform.png"></div>
		<div class="flex-item4">	<a href=/read_data target="Framename"><p style="margin-bottom: 0%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New Registrations</p></div>
		</a>
	</div>
	</div>

</div>


<div>
	<iframe style="margin-top: 2%;"  width="100%" height="800" frameborder="0" allowfullscreen sandbox name="Framename">
	</iframe>
</div>


</div>