
<!-- Header -->
<header id="header" style="background-color:black;opacity:0.9">
    <div class="inner">
        <a href="index.html" class="logo">PFA</a>
            <nav id="nav">
                <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a href="/events">Events</a>
                    <a href="/gallery">Gallery</a>
                    <a href="/contact">Contact</a>
                    <a href="/dashboard">Dashboard</a>
            </nav>
    </div>
</header>
        <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Main -->
    
<section id="about">
    <div class="flex">
        <img src="images/ban.jpg" style="width:100%"/>
    </div>
        <div class="inner" style="text-align: center">
            <span style="font-size: 250%;color:#545454"><i class="fa fa-quote-left" style="font-size:60%"></i><sub>There is an artist inside every person. So PFA helps the students find the artist inside them and to share their art.</sub><i class="fa fa-quote-right" style="font-size:60%"></i></span>
        </div>
</section>

<!--Content-->

<section id="main">
    <div class="flex-container">
        <div class="flexitem1">
            <div class="inner"><h1 style="text-align:center">why join pfa?</h1></div>
                <div class="box1">
                    <p style="font-size:120%;">Want to have some fun, happiness & peace in your life? If yes, then join us. We help the students find the artist inside them and how to share their art. We help them find their right time jobs.</p>
                        <img src="images/why.png" style="height:28vh;align-content:right;max-width: 300px;float:right">
                </div>
        </div>
    </div>

        <div class="flex-container">
            <div class="flexitem1">
                <div class="inner"><h1 style="text-align:center">How to join?</h1></div>
                    <div class="box2">
                        <p style="font-size:120%;text-align: center">	To join Photography & Fine Arts club you may give the interview and for that you may contact us on visit our social media accounts.
                        </p>
                        <p style="font-size: 150%;text-align: center;margin-top:-20px">	Visit us at</p>
                            <ul class="icons" style="text-align:center;font-size:200%;margin-top:-50px">
                                <li><a href="https://www.facebook.com/pfagne/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="https://www.instagram.com/pfa_gne/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="https://github.com/nandiniprashar" class="icon fa-github"><span class="label">Github</span></a></li>	
                            </ul>
                                <ul class="actions" style="text-align: center;margin-top:-60px">
                                    <li ><a href="form.html" class="button alt">Registration form</a></li>
                                </ul>
                    </div>
            </div>
        </div>

</section>

<!--Footer section-->

<section id="footer">
<div class="inner">
    <header>
        <h2 style="text-align: center">Contact Details</h2>
    </header>
                
            <div class="copyright">

                <div class="content" style="text-align: auto">
                        <p>Society Head: Varmeet Singh<br>
                            Phone No.: 9988776655<br>
                        Email id: varmeet.singh@gmail.com</p>
                </div>
                    <ul class="actions" style="text-align: center">
                        <li><a href="form.html" class="reg">Register as a member</a></li>
                    </ul>


                    <ul class="icons" style="text-align:center;font-size:200%">				
                    <li><a href="https://www.facebook.com/pfagne/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                    <li><a href="https://www.instagram.com/pfa_gne/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                    <li><a href="https://github.com/nandiniprashar" class="icon fa-github"><span class="label">Github</span></a></li>			
                    </ul>
                    &copy; Photography & Fine Arts Club
                </div>
            </div>
</section>


<script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
