<!-- Header -->
<header id="header" style="background-color:black;opacity:0.9">
    <div class="inner">
        <a href="index.html" class="logo">PFA</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/events">Events</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Main -->
<section id="main" >
    <div class="inner">
        <header class="major special">
            <h1 style="text-align: center">WANT TO REGISTER ? FILL OUT THE FORM BELOW</h1>
            <hr>	
        </header>
        
        
        <p style="text-align: center;font-size: 100%;">	We'd love to have you as a member of the society.</p>
    </div>
</section>





<!--Form section-->
<section id="form">
<div class="col-sm-offset-3 col-sm-6">
<div class="form-style" style="margin-top:-1%;">

          <form method="post" action="admin/add">
            <input type="text" name="StuName" placeholder="Full Name" />
            <input type="text" name="department" placeholder="Department" />
            <input type="text" name="roll_no" placeholder="Roll No"/>
            <input type="text" name="phone" placeholder="Phone Number">
            <textarea name="body" placeholder="Please Describe us What do you like in PFA !"></textarea><br>
            <input type="submit" value="Send Message"/>
          </form>
</div>
</div>
</section>

<section id="footer">
<div class="inner">
        <header>
            <h2 style="text-align: center">Contact Details</h2>
        </header>
        
        <div class="copyright">

            <div class="content" style="text-align: auto">
                <p>Society Head: Varmeet Singh<br>
                    Phone No.: 9988776655<br>
                Email id: varmeet.singh@gmail.com</p>
            </div>
            <ul class="actions" style="text-align: center">
            <li><a href="#" class="reg">Register as a member</a></li>
        </ul>


            <ul class="icons" style="text-align:center;font-size:200%">				
            <li><a href="https://www.facebook.com/pfagne/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://www.instagram.com/pfa_gne/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="https://github.com/nandiniprashar" class="icon fa-github"><span class="label">Github</span></a></li>		
            </ul>
            &copy; Photography & Fine Arts Club
        </div>
    </div>
</section>
