<style> 

    .events .flex-container {
         border-radius: 10px;
          display: -webkit-flex;
          display: flex;
          justify-content: center;
          box-shadow: 0px 3px 8px rgba(0.3, 0.3, 0.3, 0.3);
        margin: 5%;   
    }
    
    .events .flex-item {
        margin:2%;
          padding:0% 5%;
    }
    
    .events h1
    {
    color:#ee2e31;
    font-family:  "Lato", sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    }
    
    
    .events h2
    {
      margin-top: 8%;
    color:#ee2e31;
    font-family:  "Lato", sans-serif;
    align-content: center;
    font-size:30px ;
    }
    
    .events p
    {
        font-family: "Lato", sans-serif;
        color:grey; 
        font-size: 20px;
    }
    
    
    .events span{
    
        display:block;
        margin: 7%
    }
    
    .events hr{
        width:85%;
      margin-bottom:5%;
    }
    
    
      @media only screen and (max-width: 1000px) {
    
          .flex-container{
            margin:5%;
            -webkit-justify-content: center;      
            flex-wrap: wrap-reverse;
            text-align: center;
            justify-content: center;
            padding: 2%;
          }
          .flex-item img{
            height: 170px;
            width:270px;
          }
        }
    @media only screen and (max-width: 1000px) {
    
          .events p{
           font-size: 15px;
           margin: 1%;
          }
        .events h1{
        font-size:30px;
        margin-top:2%;
        margin-bottom:2%;
        }
        .events h2{
        font-size:20px;
        }
        .events hr{
        width:85%;
        margin-top:5%;
        margin-bottom:5%;
        }
    
     
      
    
    </style>


  
<header id="header" style="background-color:black;opacity:0.9">
    <div class="inner">
      <a href="index.html" class="logo">PFA</a>
      <nav id="nav">
        <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/events">Events</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
      </nav>
    </div>
  </header>
  <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>


<div class="events">


<div>
<h1 style="margin-top:5%;">Main Events</h1>
</div>
<hr>

<div class="flex-container">
<div class="flex-item">
  <h2>Photowalks</h2>
<p>Join our gleeful troopsbest memories and landscaped vistas. Visit exquisite sights with us to sieze the beauty of them. Explore ,travel and click!</p>
</div>
<div class="flex-item">
   <img src="images/p15.jpg"  width="400">
</div>
</div>

<div class="flex-container">
<div class="flex-item">
  <h2>Exhibition</h2>
<p>A warm welcome to the display of some of the most amazing artworks by our members. Stroll through the items of your attractions! Become a member and get a chance to unveil your talent to the world. </p>
</div>
<div class="flex-item" >
   <img src="images/p1.jpg"  width="400">
</div>
</div>

<div class="flex-container">
<div class="flex-item">
  <h2>Workshops</h2>
<p>Enroll yourself to engage in different discussions and activities. Enhance your artistic development with the knowledge shared by our skilled artists.</p>
</div>
<div class="flex-item" >
   <img src="images/p17.jpg" width="400" >
</div>
</div>



<div>
<h1 style="margin-top:7%;">Fun Events</h1>
</div>
<hr>

<div class="flex-container">
<div class="flex-item">
<h2>Photobooth</h2>
<p>Have fun getting clicked the most insane and memorable pictures with your friends!</p>
</div>
<div class="flex-item" >
 <img src="images/p5.jpg"  width="400" >
</div>
</div>

<div class="flex-container">
<div class="flex-item">
<h2>Open Mic</h2>
<p>Enjoy the free style live concerts and stand up comedies put up by the young talents!</p>
</div>
<div class="flex-item" >
 <img src="images/p7.jpg" heihgt="300" width="400" >
</div>
</div>

<div class="flex-container">
<div class="flex-item">
<h2>Grafitti</h2>
<p>Let out your inner expressoins by spraying and painting your creativity to the world.</p>
</div>
<div class="flex-item" >
 <img src="images/p16.jpg" width="400" >
</div>
</div>

<div class="flex-container">
<div class="flex-item">
<h2>Painting</h2>
<p>Express yourself in your own unique way and create aesthetically pleasing works to be diplayed in the exhibition!</p>
</div>
<div class="flex-item" >
 <img src="images/p14.jpg" width="400" >
</div>
</div>

</div>

<section id="footer">
    <div class="inner">
      <header>
        <h2 style="text-align: center">Contact Details</h2>
      </header>
      
      <div class="copyright">

        <div class="content" style="text-align: auto">
          <p>Society Head: Varmeet Singh<br>
            Phone No.: 9988776655<br>
          Email id: varmeetsingh@gmail.com</p>
        </div>
        <ul class="actions" style="text-align: center">
        <li><a href="#" class="reg">Register as a member</a></li>
      </ul>


        <ul class="icons" style="text-align:center;font-size:200%">       
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>     
        </ul>
        &copy; Photography & Fine Arts Club
      </div>
    </div>
  </section>
