<!-- Header -->
<header id="header" style="background-color:black;opacity:0.9">
    <div class="inner">
        <a href="index.html" class="logo">PFA</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/events">Events</a>
            <a href="/gallery">Gallery</a>
            <a href="/contact">Contact</a>
            <!-- <a href="dashboard.html">dashboard</a> -->
        </nav>
    </div>
</header>
<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

<!-- Banner -->
<section id="banner" style="max-width: 100% ">
    <div class="inner">
        <h1 style="text-align: center; font-size: 280%;font-family: 'Roboto', sans-serif, cursive;font-weight:bold;color:white;">
            <span>Photography & Fine Arts Club<br/>
        </span></h1> 
    <!-- <ul class="icons" style="text-align:center;font-size:200%">
                            
                            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            
                        </ul> -->
    </div>
</section>

<!-- One -->
<section id="one">
    <div class="inner">
        <header>
            <h2>About PFA</h2>
        </header>
        <p><img src="images/team.jpg" alt="" /  style="width:100%"><br><br>
            PFA is an organising community for Cultural events, Fun activities, Talent-hunts,
            Show-case and Inter-college competitions. It is main the organising committee
            which arranges all the functions with the help of the volunteers and participants 
            willing to show case their talents and creative works.
            Anyone willing to join our artistic team can register by filling in the registration form.  
            The participants can also register themselves. Prior notice will be uploaded on this site
                soon before the events.
            </p>
        <ul class="actions">
            <li><a href="about.html" class="button alt">Know More</a></li>
        </ul>
    </div>
</section>

<!-- Two -->
<section id="two">
    <div class="content" style="text-align: center">
        <header>
            <h2>Events</h2>
        </header>
    </div>

    <div class="inner">
        <article class="alt">
            <div class="content">
                <header>
                    <h3>Main Events</h3>
                </header>
                        
                <div class="image fit">
                    <img src="images/exhibition.jpg" alt="Fun events" / >
                </div><br>

                <p>These are organised every year to inspire budding artists and 
                    giving them a platform to comeforth with their creative ideas.</p>

                <ul class="actions">
                    <li><a href="events.html" class="button alt">Know More</a></li>
                </ul>
            </div>
        </article>


        <article class="alt">
            <div class="content">
                <header>
                    <h3>Fun Events</h3>
                </header>
                        
                <div class="image fit">
                    <img src="graffiti.jpg" alt="Fun events" height=300px />
                </div><br>

                <p>These are organised on the request of the participants wishing to 
                    display their artistic works and are mainly arranged during the main 
                    cultural functions.
                    .</p>

                <ul class="actions">
                    <li><a href="events.html" class="button alt">Know More</a></li>
                </ul>
            </div>
        </article>
    </div>
</section>
<br>


<section id="gallery">
<h2 style="text-align: center">Gallery</h2>


<div class="image-fit">
<div class="responsive">
<div class="gallery">
<a  href="img_5terre.jpg">
<img src="images/exhibition.jpg" alt="Cinque Terre" width="600" height="400">
</a>
<div class="desc">Photography Exhibition</div>
</div>
</div>


<div class="responsive">
<div class="gallery">
<a href="img_forest.jpg">
<img src="images/workshop.jpg" alt="Forest" width="600" height="400">
</a>
<div class="desc">Photography Workshop</div>
</div>
</div>

<div class="responsive">
<div class="gallery">
<a  href="img_lights.jpg">
<img src="images/openmic.jpg" alt="Northern Lights" width="600" height="400">
</a>
<div class="desc">Open Mic</div>
</div>
</div>

<div class="responsive">
<div class="gallery">
<a href="img_mountains.jpg">
<img src="images/event.jpg" alt="Mountains" width="600" height="400">
</a>
<div class="desc">Event on Save Trees</div>
</div>
</div>


</div>

<div class="content">
<p>.</p>
</div>

<div class="image-fit">
        <ul class="actions" style="text-align: center;margin-top:1%">
            <li><a href="#" class="button alt">View Gallery</a></li>
        </ul>

</div>

</section>




<!-- Footer -->
<section id="footer">
    <div class="inner">
        <header>
            <h2 style="text-align: center">Contact Details</h2>
        </header>
        
        <div class="copyright">

            <div class="content" style="text-align: auto">
                <p>Society Head: Varmeet Singh<br>
                    Phone No.: 9988776655<br>
                Email id: varmeetsingh@gmail.com</p>
            </div>
            <ul class="actions" style="text-align: center">
            <li><a href="#" class="reg">Register as a member</a></li>
        </ul>


            <!-- <ul class="icons" style="text-align:center;font-size:200%">				
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>			
            </ul> -->
            &copy; Photography & Fine Arts Club
        </div>
    </div>
</section>
